body{
	background: #FFE972;
}

.logo{
	width: 100px;
	height: 93px;
}
a{}
.header-top{
	background: #767577;
}
.navbar-inverse {
    background-color: #E9E7E9;
    border-color: #080808;
}
.navbar-inverse .navbar-nav>li>a {
    color: #353030;
}
.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
    color: #0e86cc;
    background-color: transparent;
}
.navbar {
    border-radius: 0px;
}
.sidebar-content{
    background-color: #fff;
}
.sidebar{
    padding-left: 20px;
}
.sidebar h3 {
    border: 1px solid gray;
    background: #EAE9EA;
    padding: 10px;
}
.post{
    border: 1px solid gray;
    padding: 10px;
    margin-top: 20px;
}
.post-header {
    background: #FCEAD6;
    padding: 10px;
    border-left: 5px solid gray;
}